body {
    background: floralwhite repeat-x;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Arial Rounded MT Bold", sans-serif;
}
h3,
.imageTitle{
    visibility: hidden;
}
button.button {
    display: inline;
}
.downloadButton {
    visibility: hidden;
}

div,
.imageSection {
    background: floralwhite;
    text-align: center;

}
.spacer {
    margin: 5px;
}

.intro{
    background: floralwhite;
    text-align: center;
}
image,
.image{
    visibility: hidden;
    height: 500px;
    width: 500px;
}